@import "@/theme/shared.less";

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  border: 1px solid gray;
  border-radius: 3px;
}

.buttonPrimary {
  background-color: @primary-color;
  color: @button-primary-color;
}

.buttonDefault {
  background-color: @default-color;
  color: @button-default-color;
}
